*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.main_container{
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    height: 30vh;
    background: linear-gradient(to bottom right, #52F1AE, #3A758D, #23006E);
    flex-direction: column;
}

.container{
    font-family: "Roboto-Medium", Helvetica;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    align-items: center;
}

.box1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
}

.box1 img{
    width: 80px;
    height: 80px;
    border-radius: 50px;
}

.box2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.search-input{
    width: 600px;
    height: 50px;
    border-radius: 32px;
    padding: 10px;
    border: 0px;
}

.box3{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin-right: 10px;
}

nav a {
    text-decoration: none; /* Elimina la decoración de subrayado en los enlaces */
    color: white; /* Color del texto */
    padding: 8px 12px; /* Añade relleno alrededor del texto */
    border-radius: 5px; /* Agrega esquinas redondeadas */
    font-size: 20px;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Cambia el color de fondo cuando se pasa el ratón sobre el enlace */
}

.box4{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.box4 a{
    color: black;
}

.container2{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container2 h1{
    width: 80%;
    color: white;
    font-size: 60px;
    font-family: "Anton-Regular", Helvetica;
    font-weight: bolder;
}

.container3{
    width: 100%;
    height: 1500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat_box{
    width: 50%;
    height: 83%;
    display: flex;
    background-color: white;
    border-radius: 15px;
    flex-wrap: wrap;
    box-shadow: 4px 8px rgba(0, 0, 0, 0.1)
}

.perfil{
    width: 100%;
    height: 150px;
    background: linear-gradient(to bottom right, #FEB055, #FE7F56, #F05A54, #D82C6A);
    display: flex;
    align-items: center;
    font-family: "Anton-Regular", Helvetica;
    color: white;
    border-radius: 15px 15px 0px 0px;
}

.perfil img{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin-left: 50px;
}

.perfil h2{
    margin-left: 50px;
}


.chat{
    display: flex;
    width: 100%;
    height: 1000px;
    justify-content: center;
    background-image: url(fondo.jpg);
    background-position: top;
}

.teclado{
    width: 100%;
    height: 100px;
    background-color: #CECECE;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 15px 15px;
}

.search-input2{
    width: 75%;
    height: 50px;
    border-radius: 10px;
    padding-left: 20px;
    border: 0;
}

.enviar{
    width: 10%;
    height: 50px;
    background-color: #00DD23;
    border-radius: 10px;
    color: white;
    border: 0;
    margin-left: 20px;
} 

/* Footer */

.footer{
    background: linear-gradient(to bottom right, #23006E, #118682, #00FF94);
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
}

.footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:white;
    font-size:0.8em;
}

.footer .row a{
    text-decoration:none;
    color:white;
    transition:0.5s;
}

.footer .row a:hover{
    color:#fff;
}

.footer .row ul{
    width:100%;
}

.footer .row ul li{
    display:inline-block;
    margin:0px 30px;
}

.footer .row a i{
    font-size:2em;
    margin:0% 1%;
}

@media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
}
.footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
}
.footer .row a i{
    margin:0% 3%;
}
}

.enviar:hover{
    background-color: darkgreen;
    cursor: pointer;
}